.title {
  text-align: center;
  height: 80px;
  background-image: url('../images/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  text-shadow: none;
}

.App > section {
  display: flex;
  max-width: 640px;
  margin: auto;
}

.App > footer {
  text-align: center;
}
