.CharacterList {
  list-style: none;
  padding-left: 0;
  min-width: 180px;
  text-align: right;
  margin-right: 1em;

  li {
    margin: 0.5em 0;
  }

  a {
    &:link,
    &:visited {
      color: white;
      text-decoration: none;
    }

    &:hover {
      color: lighten(#fdb825, 20%);
    }

    &.active {
      color: #fdb825;
    }
  }
}
