.categories {
  ul {
    list-style: none;
    padding-left: 0;
    display: flex;

    li {
      flex: 1;
      text-align: center;
    }
  }

  a:link {
    text-decoration: none;

    &.active {
      font-weight: bold;
    }
  }
}
