@import url('https://fonts.googleapis.com/css?family=Roboto');

$base-text-size: 12px;
$base-font-family: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
}

html {
  height: 100%;

  body,
  #root,
  .App {
    min-height: 100%;
  }
}

body {
  margin: 0;
  font-size: $base-text-size;
  font-family: $base-font-family;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
}

a {
  &:link,
  &:visited {
    color: rgb(0, 136, 238);
    font-weight: bold;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &.active {
    color: #111;
  }
}
