@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab|Bangers');

body {
  color: #fbe943;
  background-image: url('images/map.png');
  font-family: 'Arbutus Slab', serif;
}

.others {
  display: flex;
  justify-content: space-around;
}

.originals > .goonie {
  display: flex;
}

ul,
ol {
  text-align: left;
  width: 16em;
  margin: auto;
}

h1 {
  background-image: url('images/goonies.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  height: 4em;
}

h2 {
  text-transform: uppercase;
  margin: 2em;
}

h2,
h3 {
  text-shadow: 0.1em 0.1em 0 #1e3896;
  text-align: center;
  font-family: 'Bangers', cursive;
  letter-spacing: 0.08em;
  color: #f29928;
}

img {
  border: 0.2em solid #fbe943;
}

hr {
  border: none;
  border-bottom: 0.2em solid #fbe943;
  text-shadow: 0.1em 0.1em 0 #1e3896;
}

a:link {
  color: #f29928;
  text-decoration: none;
}

a:visited {
  color: #ba7927;
}

a:focus {
  color: #ba5327;
}

a:hover {
  color: #f2d228;
}

a:active {
  color: #ba5327;
}

h3[title="chunk"] {
  font-size: 2em;
}

a[href^="http"] {
  background-color: pink;
}

h3::after {
  content: ' is a Goonie.';
}
